<template>
  <q-page padding>

    <div class="q-pa-md q-gutter-md">
        <p>Метод Гаусса</p>
        <div class="q-pa-md">
          <p>Matrix:</p>

          <!-- <q-btn rounded unelevated @click="solve(testData)">+row</q-btn>
          <q-btn rounded unelevated @click="solve(testData)">-row</q-btn>
          <q-btn rounded unelevated @click="solve(testData)">+col</q-btn>
          <q-btn rounded unelevated @click="solve(testData)">-col</q-btn> -->
          <q-markup-table separator="cell" dense flat bordered>
            <tbody>
              <tr v-for="(row, index) in testData.matrix" :key="index">
                <td v-for="(num, index) in row" :key="index">
                  {{num.toNumber()}}

                </td>
              </tr>

            </tbody>
          </q-markup-table>
        </div>
        <div class="q-pa-md">
          <p>Result:</p>

          <q-markup-table separator="cell" dense flat bordered>
            <tbody>
              <tr>
                <td v-for="(num, index) in testData.result" :key="index">
                  {{num.toNumber()}}
                </td>
              </tr>

            </tbody>
          </q-markup-table>
        </div>
        <q-btn @click="solve(testData)">Solve</q-btn>
        <p>Solved:</p>
        <q-markup-table separator="cell" dense flat bordered>
          <tbody>
            <tr>
              <td v-for="(num, index) in testData.solution" :key="index">
                {{num.toNumber()}}
              </td>
            </tr>

          </tbody>
        </q-markup-table>
    </div>
  </q-page>
  </template>

<script>
import * as GaussianElimination from 'na-gaussian-elimination'
import BigNumber from 'bignumber.js'
BigNumber.prototype.cmp = BigNumber.prototype.comparedTo
BigNumber.prototype.sub = BigNumber.prototype.minus

export default {
  name: 'GaussianElimination',
  data () {
    return {
      GE: {},
      testData: {
        matrix: [
          [new BigNumber(1), new BigNumber(2), new BigNumber(3)],
          [new BigNumber(4), new BigNumber(5), new BigNumber(6)],
          [new BigNumber(7), new BigNumber(8), new BigNumber(12)]
        ],

        result: [
          new BigNumber(4), new BigNumber(7), new BigNumber(10)
        ],
        solution: []
      }
    }
  },
  methods: {
    solve (data) {
      const matrix = data.matrix.map(row => row.map(num => new BigNumber(num)))
      const result = data.result.map(num => new BigNumber(num))

      const system = this.GE.solve(matrix, result)

      data.solution = system.solution
    }
  },
  created () {
    const zero = new BigNumber(0)
    GaussianElimination.defaultOptions.zero = zero
    this.GE = new GaussianElimination()
  }

}
</script>
