<template>
  <q-page padding>

    <div class="q-pa-md q-gutter-md">
        <p>Градиентный спуск</p>
        <!-- <div class="q-pa-md">
          <p>Matrix:</p>
          <q-markup-table separator="cell" dense flat bordered>
            <tbody>
              <tr v-for="(row, index) in testData.data" :key="index">
                <td v-for="(num, index) in row" :key="index">
                  {{num}}

                </td>
              </tr>

            </tbody>
          </q-markup-table>
        </div> -->
        <q-btn @click="gradientDescent('#chart', 800, 400, 30, 0.01)">Solve</q-btn>
        <!-- <div class="q-pa-md">
          <p>Result:</p>

          <q-markup-table separator="cell" dense flat bordered>
            <tbody>
              <tr>
                <td v-for="(num, index) in testData.result" :key="index">
                  {{num}}
                </td>
              </tr>

            </tbody>
          </q-markup-table>
          <p>
              {{func}}
          </p>
        </div> -->
        <div class="chart" id="chart"></div>
    </div>
  </q-page>
  </template>

<script>
import regression from 'regression'
import * as Plotly from 'plotly.js-dist'
import * as d3 from 'd3'

export default {
  name: 'LeastSquares',
  data () {
    return {
      chart: null,
      testData: {
        data: [[500, 2.5], [1000, 3], [1500, 3], [2000, 3.3], [3000, 3.6], [4000, 4], [5500, 4.8], [6000, 5], [7000, 5], [8000, 5.5], [9000, 6], [12000, 7], [14000, 8], [15000, 8], [18000, 9], [20000, 10], [21000, 10], [24000, 11], [28000, 12], [30000, 13], [50000, 18]],
        result: []
      },
      func: '',
      options: {

      }
    }
  },
  methods: {
    calculate (data) {
      const order = 3
      const polynomialFunction = (x, equation) => {
        let result = 0
        for (let i = 0; i < equation.length; i++) {
          result += Math.pow(x, i) * equation[i]
        }
        return result
      }
      const result = regression('polynomial', data.data, order)
      // regression.polynomial(data.data, {
      //   order,
      //   precision: 20
      // })
      this.testData.result = result.equation
      const equation = result.equation
      this.func = result.string
      // const gradient = result.equation[0]
      // const yIntercept = result.equation[1]

      // this.testData.data.sort((xy1, xy2) => xy1[0] - xy2[0])
      const xArray = this.testData.data.reduce((x, v) => {
        x.push(v[0])
        return x
      }, [])
      const yArray = this.testData.data.reduce((y, v) => {
        y.push(v[1])
        return y
      }, [])
      const trace1 = {
        x: xArray,
        y: yArray,
        type: 'scatter',
        mode: 'markers',
        name: 'Data'
      }
      console.log(xArray.map(x => polynomialFunction(x, equation)))

      const trace2 = {
        x: xArray,
        y: xArray.map(x => polynomialFunction(x, equation)),
        name: 'Polynomial',
        type: 'scatter'
        // mode: 'markers'
      }

      Plotly.newPlot('chart', [trace1, trace2])
    },

    gradientDescent (elt, w, h, numPoints, learningRate) {
      var iter = 1
      var points = []
      var theta0 = 0
      var theta1 = 0
      var alpha = learningRate
      var convergenceTh = 0.0001
      var isConverged = false
      var maxIter = 1000

      var slope = 0.5
      var intercept = 2.5
      var stddev = 0.9

      var numberFormat = d3.format('.4f')

      var margin = { top: 25, right: 25, bottom: 50, left: 50 }
      var width = w - margin.left - margin.right
      var height = h - margin.top - margin.bottom

      var svg = d3.select(elt).append('svg')
        .style('width', width + margin.left + margin.right)
        .style('height', height + margin.top + margin.bottom)

      // The hypothesis plot
      var xHypothesis = d3.scale.linear()
        .domain([0, 10])
        .range([0, w / 2 - margin.left - margin.right])

      var yHypothesis = d3.scale.linear()
        .domain([0, 10])
        .range([height, 0])

      var xHypothesisAxis = d3.svg.axis()
        .scale(xHypothesis)
        .orient('bottom')

      var yHypothesisAxis = d3.svg.axis()
        .scale(yHypothesis)
        .orient('left')

      var hypothesisGroup = svg.append('g')
        .attr('class', 'hypothesis')
        .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')')

      hypothesisGroup.append('g').append('text')
        .attr('x', width / 4)
        .attr('class', 'title')
        .style('text-anchor', 'middle')
        .text('Training data and regression line')

      hypothesisGroup.append('g')
        .attr('class', 'x axis')
        .attr('transform', 'translate(0,' + height + ')')
        .call(xHypothesisAxis)

      hypothesisGroup.append('g')
        .attr('class', 'y axis')
        .call(yHypothesisAxis)

      hypothesisGroup.append('g')
        .append('text')
        .attr('x', width / 4)
        .attr('y', margin.top)
        .attr('class', 'function-label')
        .style('text-anchor', 'middle')
        .text('')

      // The cost function plot
      var xCostFunction = d3.scale.linear()
        .domain([0, intercept])
        .range([0, w / 2 - margin.left - margin.right])

      var yCostFunction = d3.scale.linear()
        .domain([0, 1])
        .range([height, 0])

      var xCostFunctionAxis = d3.svg.axis()
        .scale(xCostFunction)
        .orient('bottom')

      var yCostFunctionAxis = d3.svg.axis()
        .scale(yCostFunction)
        .orient('left')

      var costFunctionGroup = svg.append('g')
        .attr('class', 'cost-function')
        .attr('transform', 'translate(' + (2 * margin.left + width / 2) + ',' + margin.top + ')')

      costFunctionGroup.append('g').append('text')
        .attr('x', width / 4)
        .attr('class', 'title')
        .style('text-anchor', 'middle')
        .text('Cost function')

      costFunctionGroup.append('g')
        .attr('class', 'x axis')
        .attr('transform', 'translate(0,' + height + ')')
        .call(xCostFunctionAxis)
        .append('text')
        .attr('x', width / 2 - margin.right)
        .attr('y', -12)
        .attr('dy', '.35em')
        .style('text-anchor', 'end')
        .text('θ₁ (intercept)')

      costFunctionGroup.append('g')
        .attr('class', 'y axis')
        .call(yCostFunctionAxis)
        .append('text')
        .attr('transform', 'rotate(-90)')
        .attr('y', 12)
        .attr('dy', '.35em')
        .style('text-anchor', 'end')
        .text('θ₀ (slope)')

      // Text label
      svg.append('g')
        .append('text')
        .attr('x', margin.left)
        .attr('y', height + margin.top + margin.bottom / 2)
        .attr('dy', '.35em')
        .attr('class', 'status-label')
        .style('text-anchor', 'center')
        .text('')

      /**
 * Generates a normal distributed error.
 */
      var error = d3.random.normal(0, stddev)

      /**
 * Returns a point with random x,y-coordinates.
 */
      function getRandomPoint () {
        var x = Math.round(Math.random() * xHypothesis.domain()[1])
        return {
          x: x,
          y: (slope * x + intercept + error())
        }
      }

      /**
 * Generates a specified number of random points.
 */
      function initializePoints (num) {
        var result = []
        for (var i = 0; i < num; i++) {
          var point = getRandomPoint()
          point.id = 'point-' + i
          result.push(point)
        }
        return result
      }

      /**
 * Returns the regression function
 */
      function hypothesis (x) {
        return theta1 * x + theta0
      }

      /**
 * Returns the difference between the predicted value and the actual value
 * for a specific point.
 */
      function predictionError (point) {
        return hypothesis(point.x) - point.y
      }

      /**
 * Returns the squared error for a specific point.
 */
      function squaredError (point) {
        return Math.pow(predictionError(point), 2)
      }

      /**
 * Returns the mean squared error for all points in the dataset.
 */
      function meanSquaredError () {
        var sum = 0
        points.forEach(function (d) {
          sum += squaredError(d)
        })
        return sum / (2 * points.length)
      }

      /**
 * The partial derivative of the cost function for theta0.
 */
      function derivativeTheta0 () {
        var sum = 0
        points.forEach(function (d) {
          sum += predictionError(d)
        })
        return sum / points.length
      }

      /**
 * The partial derivative of the cost function for theta1.
 */
      function derivativeTheta1 () {
        var sum = 0
        points.forEach(function (d) {
          sum += predictionError(d) * d.x
        })
        return sum / points.length
      }

      /**
 * Appends the data points to the plot.
 */
      function appendPoints () {
        hypothesisGroup.selectAll('circle')
          .data(points)
          .enter().append('circle')
          .attr('id', function (d) { return d.id })
          .attr('cx', function (d) { return xHypothesis(d.x) })
          .attr('cy', function (d) { return yHypothesis(d.y) })
          .attr('r', 4)
      }

      /**
 * Updates the chart.
 */
      function update () {
        var x1 = xHypothesis.domain()[0]
        var x2 = xHypothesis.domain()[1]

        var y1 = hypothesis(x1)
        var y2 = hypothesis(x2)

        // Draw and update the regression line
        var line = hypothesisGroup.selectAll('.regression-line')
          .data([{ y1, y2 }])

        line.enter().append('line')
          .attr('class', 'regression-line')
          .attr('x1', function (d) { return xHypothesis(x1) })
          .attr('x2', function (d) { return xHypothesis(x2) })

        line.transition().delay(0).duration(500)
          .attr('y1', function (d) { return yHypothesis(d.y1) })
          .attr('y2', function (d) { return yHypothesis(d.y2) })

        // Draw the cost function circles
        var circle = costFunctionGroup.selectAll('.circle')
          .data([{ theta0, theta1 }])
          .enter().append('circle')
          .attr('cx', function (d) { return xCostFunction(d.theta0) })
          .attr('cy', function (d) { return yCostFunction(d.theta1) })
          .attr('r', 2)

        // Update the labels
        svg.selectAll('.status-label').text('Iteration ' + iter +
    '; learningRate=' + alpha + '; convergence=' + convergenceTh +
    '; mse=' + numberFormat(meanSquaredError()))

        svg.selectAll('.function-label').text('hθ(x) = ' +
    numberFormat(theta1) + ' • x + ' + numberFormat(theta0))
      }

      /**
 * Executes one iteration of the algorithm
 */
      function iterate () {
        var mseBefore = meanSquaredError()

        // The descent step
        var temp0 = theta0 - (alpha * derivativeTheta0())
        var temp1 = theta1 - (alpha * derivativeTheta1())
        theta0 = temp0
        theta1 = temp1

        isConverged = (mseBefore - meanSquaredError() < convergenceTh)

        // Update the chart
        update()
      }

      /**
 * The main function initializes the algorithm and calls an iteration every
 * 100 milliseconds.
 */
      function initialize () {
        // Initialize random points and centroids
        points = initializePoints(numPoints)

        // Append points to the chart
        appendPoints()

        // Initial drawing
        update()

        var interval = setInterval(function () {
          if (!isConverged & iter < maxIter) {
            iterate()
            iter++
          } else {
            clearInterval(interval)
          }
        }, 100)
      }

      // Call the main function
      initialize()
    }
  },
  mounted () {
  }

}
</script>
<style>
  path {
    fill:none;
  }
  .chart {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 10px;
    fill: #aaa;
  }

  .chart circle {
    stroke: #00f;
    stroke-width: 1.5px;
    fill: #33f;
    opacity: 0.5;
  }

  .chart .title {
    font-size: 13px;
    font-weight: 700;
  }

  .chart .regression-line {
    stroke: #f33;
    stroke-width: 1.5px;
  }

  .chart .cost-function  circle {
    stroke: none;
  }

  .chart .axis line, .axis path {
    fill: none;
    stroke-width: 1px;
    stroke: #ccc;
    shape-rendering: crispEdges;
  }

</style>
