<template>
  <q-page padding>

    <div class="q-pa-md q-gutter-md">
        <p>Метод наименьших квадратов</p>
        <div class="q-pa-md">
          <p>Matrix:</p>
          <q-markup-table separator="cell" dense flat bordered>
            <tbody>
              <tr v-for="(row, index) in testData.data" :key="index">
                <td v-for="(num, index) in row" :key="index">
                  {{num}}

                </td>
              </tr>

            </tbody>
          </q-markup-table>
        </div>
        <q-btn @click="calculate(testData)">Solve</q-btn>
        <div class="q-pa-md">
          <p>Result:</p>

          <q-markup-table separator="cell" dense flat bordered>
            <tbody>
              <tr>
                <td v-for="(num, index) in testData.result" :key="index">
                  {{num}}
                </td>
              </tr>

            </tbody>
          </q-markup-table>
          <p>
              {{func}}
          </p>
        </div>
        <div id="chart"></div>
    </div>
  </q-page>
  </template>

<script>
import regression from 'regression'
import * as Plotly from 'plotly.js-dist'

export default {
  name: 'LeastSquares',
  data () {
    return {
      chart: null,
      testData: {
        data: [[500, 500, 2.5], [1000, 500, 3], [1500, 500, 3], [2000, 500, 3.3], [3000, 500, 3.6], [4000, 500, 4], [5500, 500, 4.8], [6000, 500, 5], [7000, 500, 5], [8000, 500, 5.5], [9000, 500, 6], [12000, 500, 7], [14000, 500, 8], [15000, 500, 8], [18000, 500, 9], [20000, 500, 10], [21000, 500, 10], [24000, 500, 11], [28000, 500, 12], [30000, 500, 13], [50000, 500, 18]],
        result: []
      },
      func: '',
      options: {

      }
    }
  },
  methods: {
    calculate (data) {
      const order = 3
      const polynomialFunction = (x, equation) => {
        let result = 0
        for (let i = 0; i < equation.length; i++) {
          result += Math.pow(x, i) * equation[i]
        }
        return result
      }
      const result = regression('polynomial', data.data, order)
      // regression.polynomial(data.data, {
      //   order,
      //   precision: 20
      // })
      this.testData.result = result.equation
      const equation = result.equation
      this.func = result.string
      // const gradient = result.equation[0]
      // const yIntercept = result.equation[1]

      // this.testData.data.sort((xy1, xy2) => xy1[0] - xy2[0])
      const xArray = this.testData.data.reduce((x, v) => {
        x.push(v[0])
        return x
      }, [])
      const yArray = this.testData.data.reduce((y, v) => {
        y.push(v[1])
        return y
      }, [])
      const trace1 = {
        x: xArray,
        y: yArray,
        type: 'scatter',
        mode: 'markers',
        name: 'Data'
      }
      console.log(xArray.map(x => polynomialFunction(x, equation)))

      const trace2 = {
        x: xArray,
        y: xArray.map(x => polynomialFunction(x, equation)),
        name: 'Polynomial',
        type: 'scatter'
        // mode: 'markers'
      }

      Plotly.newPlot('chart', [trace1, trace2])
    }
  },
  mounted () {
  }

}
</script>
<style>
  path {
    fill:none;
  }
</style>
