<template>
  <q-layout view="lHh Lpr lFf">
    <q-header  >
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
          icon="menu"
        />

        <q-toolbar-title>
          Машина планировани эксперимента
        </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="bg-grey-2"
    >
      <q-list>
        <q-item-label header>Навигация</q-item-label>
        <q-item to="/LeastSquares" exact>
          <q-item-section>
            <q-item-label>Метод наименьших квадратов</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/GaussianElimination" exact>
          <q-item-section>
            <q-item-label>Метод Гаусса</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/GradientDescent" exact>
          <q-item-section>
            <q-item-label>Градиентный спуск</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LayoutDefault',

  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop
    }
  }
}
</script>
